html, body {
    font-family: 'Lato', sans-serif;
    /* background:#a08fff ; */
    background-color: #8d73ff;
    background-image: url(clean-gray-paper.png);
    min-width: 1300px;
}

h1 {
    padding: 0;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    color: #f6f4ff;
  }

.center {
    margin: 10% 15%;
    padding: 3.4% 5%;
    background:#efedf7 ;
    border-radius: 1%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 3px 3px 18px 3px #4627a5;
    box-shadow: 3px 3px 18px 3px #4627a5;

}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content {
    padding: 5%;
    font-size: 1.7em;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 100px 300px; */
}

.title {
    font-size: 1.5em;
}

.tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.tab{
    margin: 2px;
    background: #8c72da;
    color:#efedf7 ;
    border:none;
    position:relative;
    height:30px;
    font-size:1.6em;
    padding: 20px 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.tab:hover{
    background:#efedf7 ;
    color:#402496;
}
.tab:before,.tab:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #402496;
    transition:400ms ease all;
}
.tab:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.tab:hover:before,.tab:hover:after{
width:100%;
transition:800ms ease all;
}

.main-image img{
    max-width: 100%;
    height: auto;
}

img {
    border: 5px solid #583fa3;
    border-radius: 20%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 2px 2px 18px 2px #cbb9ff;
    box-shadow: 2px 2px 18px 2px #ddd2ff;

}