html, body {
    font-family: 'Lato', sans-serif;
    /* background:#a08fff ; */
    background-color: #8d73ff;
    background-image: url(clean-gray-paper.png);
    min-width: 1500px;
}
html {
    /* background: white; */
}

body {
    z-index: 1;
}
body h1 {
    opacity: 0.7;
    font-family: 'Oswald', sans-serif;
    background-color: #693ace;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    /* text-shadow: 6px 6px 0px rgba(0,0,0,0.2); */
    font-size: 6em;
    overflow: visible;
    min-width: 500px;
    position: absolute;
    top: 20px;
    left: 50px;
    margin:0;
    z-index: 2;
  }

.center {
    margin: 10% 15%;
    padding: 3.4% 5%;
    background:#efedf7 ;
    border-radius: 1%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 3px 3px 18px 3px #4627a5;
    box-shadow: 3px 3px 18px 3px #4627a5;
    z-index: 3;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content {
    padding: 5%;
    font-size: 1.7em;
}

.header {
    font-family: 'Oswald', sans-serif;

}

.tab-container {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}



.main-image img{
    max-width: 100%;
    height: auto;
}

img {
    border: 5px solid #583fa3;
    border-radius: 5%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 3px 3px 18px 3px #a285f8;
    box-shadow: 3px 3px 18px 3px #b39afd;

}

.square_btn{
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    font-size: 2em;
    display: inline-block;
    position: relative;
    padding: 0.5em 1.4em;
    text-decoration: none;
    background: #8c72da;/*Button Color*/
    color: #efedf7;
    border-bottom: solid 5px #6a57a5;/*daker than background*/
    border-right: solid 5px #7962bd;/*darker than background*/
    margin: 10px;
    border-radius: 2.5%;
}

.square_btn:before{    
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color:  #efedf7;
}

.square_btn:after{   
    content: " ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #efedf7;
    border-bottom-color: transparent;
}

.square_btn:active{ /*on click*/
    border:none;
    -ms-transform: translate(6px,6px);
    -webkit-transform: translate(6px,6px);
    transform: translate(6px,6px);/*move LowerRight*/
}

.square_btn:active:after,
.square_btn:active:before {/*on click*/
    content: none;/*Border disappears*/
}

.wrapper {
    position: absolute;
    top: 20px;
    right: 50px;
}
.wrapper i {
    margin: 13px;
}

.wrapper i:nth-child(1) {
    color: #483386;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper i:nth-child(2) {
    color: #483386;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper i:nth-child(3) {
    color: #483386;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
}
.wrapper i:nth-child(4) {
    color: #483386;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}
.wrapper i:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

