html, body {
    font-family: 'Lato', sans-serif;
    background:#4627a5 ;
}

.center {
    margin: 10% 15%;
    padding: 5%;
    background:#efedf7 ;
    border-radius: 1%;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 100px 300px; */
}

.title {
    /* display: inline-grid; */
    border: 3px solid red;
}

.tab-container {
    /* display: inline-grid; */
    border: 3px solid pink;
}

.tab {
    padding: 10px;
    border: 2px solid #402496;
    margin: 2px;
}
.main-image img{
    max-width: 100%;
    height: auto;
}

img {
    border: 5px solid #402496;
    border-radius: 20%;
}